extends layout 

block content
    div.hero
        img.about-img(src='/images/donut.jpg', alt='Downtown Donuts variety box')
        div.about-text
            h1 Our Story
            p Lorem ipsum - your story here
