extends layout 

block content
    div.hero
        img(src='/images/donut.jpg', alt='Downtown Donuts variety box')
        div.about-text
            h2 Our Story
            p Lorem ipsum - your story here
