extends layout

block content
  h2 Your Comments!

  div.hero
    div.comments-layout

      section.comments-form
        p#error-message
        form(id='commentForm')
          label(for='name') Name
          input(type='text', id='name', name='name')
          label(for='message') Message
          textarea(id='message', name='message')
          button(type='submit') Post Comment

      div.divider
      section#comments-list

    button#loadMore Load More

  script(src='/javascripts/comments.js')