extends layout

block content
  div.hero
    h2 Welcome to Downtown Donuts
    p Fresh donuts & coffee, downtown since 1992
    p Open daily 6:00am – 2:00pm
    p 123 Main Street, Downtown

    div.img-container
      img(src='/images/downtown_Boise.png', alt='Downtown Boise, ID map capture')

    a(href='https://ubereats.com', target='_blank') UberEats |
    a(href='https://doordash.com', target='_blank')  DoorDash

    p Order online!

