html {
  background-color: #10291D;
  color: #F7F7F7;
}

h1 {
  font-family: Montserrat;
  color: #F7F7F7;
  font-size: 35px;
}

body {
  font-family: Montserrat;
}

nav a {
  background-color: #10291D;
  color: #F7F7F7;
  text-decoration: none;
  font-size: 20px;
}

.logo-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.logo-bottom {
  text-align: center;
  margin-top: 2rem;
  clear: both;
}

.hero .logo-bottom img {
  float: none;
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.hero {
  position: relative;
  text-align: center;
  background-color: #F7F7F7;
  color: #000000;
  padding: 50px;
  margin: 40px;
  border-radius: 10px;
  min-height: 60vh;
}

.home-img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 680px;
  height: auto;
  padding-top: 10px;
  max-width: 100%
}

.order-links {
  margin-top: 150px;
}

.menu-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.menu-container img {
    max-width: 45%;
    height: auto;
}

.about {
  text-align: center;
  background-color: #F7F7F7;
  color: #000000;
  padding: 50px;
  margin: 40px;
  border-radius: 10px;
  min-height: 60vh;
}

.about-img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 420px;
  height: auto;
}

.hero h1 {
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 200px;
}

.comments-layout {
  display: flex;
  gap: 0;
}

.comments-form {
  width: 30%;
  padding: 1rem;
}

.divider {
  width: 2px;
  background-color: #F7C64A;
  margin: 0 1rem;
  min-height: 500px;
}

#comments-list {
  flex: 1;
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 20px;
  color: #F7F7F7;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }

    .img-container {
        width: 100%;
        overflow: hidden;
    }

    nav {
        font-size: 14px;
    }
    
    nav a {
        font-size: 14px;
    }

    .hero {
        min-height: 0;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
    }
    
    .menu-container img {
        max-width: 100%;
    }

    .logo-bottom {
        margin-top: 20rem;
    }
}